html,  body {
    background-image: url("architecture-gd6ac5b6c3_1920.bmp");
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
    color: white;
    font-family: Verdana;
}
table {
    margin-left: auto;
    margin-right: auto;
}

h1 {

    font-size: 300%;
}

h2 {
    font-size: 200%;
}

th {
    font-size: 250%;
}

tr,td,th {
    background-color: rgba(128, 128, 128, 0.658);
    padding: 0.5rem;
    font-size: 125%
}

tfoot {
    column-span: all;
}

caption {
	font-size: 75px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://m.media-amazon.com/images/I/51Jv-3hJ0xL._AC_SX679_.jpg');
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 750px;
}

.profilepicture {
    border-radius: 50%;
}

.rainbow-text {
    font-size: 75px;
	font-weight: 700;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

video {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 750px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

blockquote {
    background: rgba(128, 128, 128, 0.658);
    border-left: 10px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

blockquote p {
    display: inline;
}

